{% extends 'base.html.twig' %}

{% block body %}
<div class="column">
    <div class="infobox">
        <h4 class="header">
            Bookings
        </h4>
        <div>
            Some info
        </div>
    </div>
</div>
<div class="column">
    <div class="infobox">
        <h4 class="header">
            Messages
        </h4>
        <div>
            Some info
        </div>
    </div>
</div>
{% endblock %}